body {
  font-family: Andale Mono;
  background-image: url('../../dist/extras/stars.gif');
}
button {
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(15, 26, 77);
  color: aliceblue;
}
div {
  background-color: white;
}
.alwaysMenu {
  background-image: url('../../dist/extras/stars.gif');
}
.crewNames {
  display: flex;
  flex-direction: column;
}
.nameAstrosSubmitBtn {
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  outline: none;
  width: 100px;
}
.nameAstrosSubmitBtn:hover {
  cursor: pointer;
  background-color: rgb(15, 26, 77);
  color: aliceblue;
}
.bugRoverImg {
  width: 300px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.jeepRoverImg {
  width: 300px;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.sWRoverImg {
  width: 300px;
  background: transparent;
  background-color: transparent;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.supplyItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  padding: 5px 5px 5px 5px;
}
.supplyItem:hover {
  background-color: rgb(102, 128, 245);
  color: rgb(255, 255, 255);
}
.supplyBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.supplyAdvice {
  font-size: small;
}
.reviewItem {
  padding: 5px 15px 0px 15px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.innerPopup {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
.mapInnerPopup {
  position: absolute;
  left: 10%;
  right: 10%;
  top: -60%;
  bottom: 0%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}
.mapImg {
  width: 800px;
  height: auto;
}
.mapImgGen {
  width: 300px;
  height: auto;
}
.statusScreen {
  background-color: black;
  color: rgb(133, 195, 250);
}
.statusScreenOpt {
  background-color: black;
  color: rgb(133, 195, 250);
}
.noticePage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forkContent {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 200px;
  justify-content: space-evenly;
  text-align: center;
}
.forkOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}
.forkOptionBtns {
  width: 200px;
}
.forkOR {
  padding-left: 20px;
  padding-right: 20px;
}
.forkMapBtn {
  width: 100px;
}
.analyzeMenu {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
}
.analyzeMenuBtn {
  border: none;
}
.travelSlide {
  height: 240px;
  max-width: 1550px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.travelingCanvas {
  background-color: rgb(1, 8, 78);
}
.travelSlide > div {
  height: 240px;
  width: 8000px;
  background: url('../../dist/extras/moonGround2.png');
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  background-color: rgb(1, 8, 78);
}
.travelSlide .mover1 {
  animation: moveSlideshow 22s linear infinite;
  animation-direction: reverse;
}
.travelSlide .mover2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 24s linear infinite;
  animation-direction: reverse;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-49.99%);
  }
}
.travelSky {
  height: 300px;
  width: 1430px;
  padding: none;
}
.drivingRover {
  background-color: transparent;
  padding: none;
  position: absolute;
  margin-left: 500px;
  margin-top: 100px;
}