body {
  font-family: Andale Mono;
}
button {
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(15, 26, 77);
  color: aliceblue;
}
.crewNames {
  display: flex;
  flex-direction: column;
}
.supplyItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  padding: 5px 5px 5px 5px;
}
.supplyItem:hover {
  background-color: rgb(146, 166, 253);
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.innerPopup {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}